.col1 {
    background-color: lightcoral;
}

.col2 {
    background-color: aquamarine;
}

.col3 {
    background-color: lavender;
}

.col4 {
    background-color: purple;
}

.col {
    color: white;
}